$fontfamily:"'Manrope', sans-serif";

$fontweight-light:200;
$fontweight-regular:400;
$fontweight-medium:500;
$fontweight-semibold:600;
$fontweight-bold:700;

$fontsize-heading01:42px;
$fontsize-heading02:28px;
$fontsize-heading03:24px;
$fontsize-heading04:20px;
$fontsize-heading05:16px;
$fontsize-caption:12px;
$fontsize-body01:14px;
$fontsize-button:14px;
$fontsize-placeholder:14px;
$fontsize-inputDescription:10px;
$fontsize-inputLabel:14px;
$fontsize-badgeText:10px;


$lineheight-heading01:48px;
$lineheight-heading02:42px;
$lineheight-heading03:28px;
$lineheight-heading04:24px;
$lineheight-heading05:24px;
$lineheight-caption:18px;
$lineheight-body01:21px;
$lineheight-button:16px;
$lineheight-placeholder:16px;
$lineheight-inputDescription:14px;
$lineheight-inputLabel:16px;
$lineheight-badgeText:12px;

$primary-blue:#0010F7;
$blue02:#0063F7;
$blue03:#55B1F3;
$blue04:#EBFAFA;

$secondary-pink:#C903FF;
$pink02:#E26BF5;
$pink03:#F7C2FF;
$pink04:#FDEFFC;

$danger-red:#FF0022;
$red02:#FF455E;
$red03:#FF8B9A;
$red04:#FFE7EA;

$success-green:#00F7BF;
$green02: #00F7BF;
$green03:#98FFE0;
$green04:#EAFFF8;

$warning-yellow:#FFC700;
$yellow02:#FFD252;
$yellow03:#FFE393;
$yellow04:#FFF9E9;

$info-teal:#1BE7FF;
$teal02:#59EDFF;
$teal03:#97F4FF;
$teal04:#EAFCFF;

$black:#000000;
$white:#FFFFFF;

